body { 
    margin: 0px;
    background-image: linear-gradient(-225deg,#85ffb8, #dcedda);
}
h1{
    font-size: 100px;
    margin: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    animation-duration: 4s;
    animation-name: aparecer;
    animation-iteration-count: infinite;
}
@keyframes aparecer {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 5;
    }
 }
h2 {
    font-size: 40px;
    margin: 10px;
    align-items: center;
    justify-content: center;
    display: flex;

}   
h3 {
    font-size: 30px;
    margin: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
}   