/*colores*/ /*fuentes*/
body {
  background-color: rgb(198, 250, 120);
}

header {
  grid-area: header;
}

.div-img {
  display: flex;
  justify-content: center;
}

p {
  font-style: italic;
  font-size: 20px;
}

div.text-end {
  font-size: 20px;
  padding-right: 10px;
  color: white;
}

h1 {
  font-family: "Sofia Sans Extra Condensed", sans-serif;
  font-size: 70px;
}

h2 {
  font-family: "Sofia Sans Extra Condensed", sans-serif;
  text-align: center;
  font-size: 50px;
}

section {
  display: grid;
}

h3 {
  font-family: "Sofia Sans Extra Condensed", sans-serif;
  font-size: 25px;
}

ul {
  font-family: "Sofia Sans Extra Condensed", sans-serif;
  font-size: 25px;
}

.row-featurette {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  width: 100%;
}
.row-featurette .inframe {
  position: absolute;
  overflow: hidden;
  width: 100%;
  padding-top: 56.26%;
}
.row-featurette .iframe {
  position: relative;
  top: 0;
  left: 0%;
  bottom: 0;
  right: 0;
  width: 40%;
  height: 40%;
}

.row3 {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}
.row3 img {
  width: 140px;
  height: 140px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}

.carousel {
  margin-bottom: 4rem;
}
.carousel caption {
  bottom: 3rem;
  z-index: 10;
}
.carousel caption item {
  height: 32rem;
}

.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
  box-sizing: border-box;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  display: flex;
  justify-content: center;
}
.marketing .col-lg-4 img {
  width: 200px;
  height: 150px;
  transition: width 2s, height 3s;
}
.marketing .col-lg-4 img:hover {
  width: 300px;
  height: 220px;
}

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

.navbar-brand {
  animation-duration: 2s;
  animation-name: aparecer;
  animation-iteration-count: infinite;
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#navegador ul {
  list-style-type: none;
  text-align: center;
  overflow: hidden;
}

#navegador li {
  display: inline;
  text-align: center;
  margin: 0 20px 0 0;
}
#navegador li a {
  padding: 5px;
  color: black;
  background-color: rgb(53, 241, 78);
  border: 1px rgb(43, 167, 43);
  text-decoration: none;
  font-size: 35px;
  letter-spacing: 5px;
}

#navegador a:hover {
  background-color: rgb(104, 180, 81);
}

footer {
  width: 100%;
  background: rgb(26, 201, 84);
  color: azure;
  margin-top: auto;
}

footer .column2 label:hover {
  background-color: rgb(31, 179, 31);
}

footer .column3 label:hover {
  background-color: rgb(31, 179, 31);
}

.container-footer-all {
  margin: auto;
  max-width: 1200px;
  width: 100%;
}

.container-body {
  justify-content: center;
  display: flex;
}

.column1 h1 {
  font-size: 22px;
  display: grid;
}
.column1 h1 p {
  font-size: 14px;
  color: azure;
  margin-right: 200px;
  display: grid;
}

.column2 {
  max-width: 400px;
}
.column2 h1 {
  font-size: 22px;
  margin-right: 400px;
}

.row {
  margin-top: 20px;
  display: flex;
}
.row img {
  width: 50px;
  height: 30px;
}
.row img label {
  margin-top: 10px;
  margin-left: 20px;
  color: azure;
  display: flex;
}

.column3 {
  max-width: 400px;
}
.column3 h1 {
  font-size: 22px;
  margin-right: 400px;
}

.row2 {
  margin-top: 20px;
  display: flex;
}
.row2 img {
  width: 36px;
  height: 36px;
}
.row2 img label {
  margin-top: 10px;
  margin-left: 20px;
  max-width: 140px;
}

.container-footer {
  width: 100%;
  background: rgb(41, 192, 62);
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.footer {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 40px;
}

.copyright a {
  text-decoration: none;
  color: azure;
  font-weight: bold;
}

.Informacion a {
  color: white;
  text-decoration: none;
}

nav ul li:hover {
  background-color: rgb(44, 207, 65);
}

.div-img {
  display: grid;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  height: 400px;
  width: 600px;
}

@media screen and (max-width: 1100px) {
  .container-body {
    flex-wrap: wrap;
  }
  .column1 {
    max-width: 100%;
  }
  .column2 {
    margin-top: 40px;
  }
  .column3 {
    margin-top: 40px;
  }
  .row-featurette {
    float: none;
    width: 100%;
  }
  .header {
    width: 100px;
    float: none;
  }
  nav a {
    float: none;
    width: 100%;
  }
}
@media (min-width: 320px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1), inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}
.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

/* RESPONSIVE CSS
-------------------------------------------------- */
@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }
  .featurette-heading {
    font-size: 50px;
  }
}
@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 950px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

/*# sourceMappingURL=main.css.map */
