/*colores*/

$verde1: rgb(198, 250, 120);
$blanco: white;
$negro:  black;
$verde2: rgb(53, 241, 78);
$verde3: rgb(43, 167, 43);
$verde4: rgb(104, 180, 81);
$verde5: rgb(26, 201, 84);
$blanco2: azure;
$verde6: rgb(31, 179, 31);
$verde7: rgb(41, 192, 62);
$verde8: rgb(44, 207, 65);
$negro2: #5a5a5a;
$negro3: rgba(0, 0, 0, .1);
$negro4: rgba(0, 0, 0, .15);
