
body{
    background-color: $verde1;
}
header{
    grid-area: header;
}
.div-img{
    display: flex;
    justify-content: center;    
}

p{
    font-style: $fuentes2;
    font-size: 20px;
}


div.text-end{
    font-size: 20px;
    padding-right: 10px;
    color: $blanco;
}
h1{
    font-family: $fuentes;
    font-size: 70px;
}
h2{
    font-family: $fuentes;
    text-align: center;
    font-size: 45px;
}
section{
  display: grid;
  
}

h3{
    font-family: $fuentes;
    font-size: 25px; }
 
ul {
    font-family: $fuentes;
    font-size: 25px;
}

.row-featurette {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    width: 100%;
    .container{
      position: relative;
      overflow: hidden;
      height: 0;
      padding-bottom: 56.25%;
      
     }
     .responsive-iframe {
      position: absolute;
      top: 0;
      left: 0%;
      bottom: 0;
      right: 0;
      width: 50%;
      height: 50%;
      
     }
}
.row3{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    img{
      width: 140px;
      height: 140px;
      display: flex;
      margin-left: auto;
      margin-right: auto;
  } 
} 
body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: $negro2 ;
  }
  .carousel {
    margin-bottom: 4rem;
    caption {
      bottom: 3rem;
      z-index: 10;
      item {
        height: 32rem;
      }
    }
  }
  .marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
    box-sizing: border-box;
   
    p {
      margin-right: 10px;
      display:flex;
      justify-content:center;  
    } 
    // transicion de imagen
    img {
      width: 200px;
      height: 150px;
      transition: width 2s, height 3s; 
    }
    img:hover {
      width: 300px;
      height: 220px;
    }
  }
  .featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
  }
  // animacion
  .navbar-brand{
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count: infinite;

  }
  @keyframes aparecer {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
 }
 // imagenes que pasan sola principio de main

/* Clase base del carrusel */
.carousel {
  margin-bottom: 4rem;
}

/* Ya que posicionamos la imagen, necesitamos ayudar con el pie de foto */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declarar alturas debido al posicionamiento del elemento img */
.carousel-item {
  height: 32rem;
}

.b-example-divider {
  height: 3rem;
  background-color: $negro3;
  border: solid $negro4;
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em $negro3, inset 0 .125em .5em $negro4;
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
  .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
}
  
  

  
