@mixin flex-center-center-auto{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
   
}

@mixin sizes($width, $heigth) {
    height: $heigth;
    width: $width;
}


.div-img {
    @include flex-center-center-auto;
    @include sizes(50%, 50%);

}

@media only screen and (max-width:480px){
    img{
        width: 150%;
    }
}