@mixin flex-center-center-auto {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    
    
}

@mixin sizes($width, $heigth) {
    height: $heigth;
    width: $width;
}


.div-img {
    @include flex-center-center-auto;
    @include sizes(600px, 400px);

}