@import "colores";
@import "fuentes";
@import "estructura";
@import "pie-de-pagina";
@import "mixins";

// footer
@media screen and (max-width:1100px){
    .container-body{
        flex-wrap:wrap;
    }
    .column1{
        max-width: 100%;
    }
    .column2 {
        margin-top: 40px;
    }
    .column3 {
        margin-top: 40px; 
    }
    // body
   .row-featurette{
    float: none;
    width: 100%;
   }
   .header{
    width: 100px;
    float: none;
   }
   nav a{
    float: none;
    width: 100%;
   }
   section {
    float: none;
    width: 100%;
    font-size: 50px;
   }
   
   
}

  

  .b-example-divider {
    height: 3rem;
    background-color: $negro3;
    border: solid $negro4;
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em $negro3, inset 0 .125em .5em $negro4;
  }

  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }

  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
    .nav {
      display: flex;
      flex-wrap: nowrap;
      padding-bottom: 1rem;
      margin-top: -1px;
      overflow-x: auto;
      text-align: center;
      white-space: nowrap;
      -webkit-overflow-scrolling: touch;
    }
  }
  
  
  /* RESPONSIVE CSS
  -------------------------------------------------- */
  
  @media (min-width: 40em) {
    /* Bump up size of carousel content */
    // letras de arriba de las imagenes
    .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
    }
  
    .featurette-heading {
      font-size: 50px;
    }
  }
  
  @media (min-width: 62em) {
    .featurette-heading {
      margin-top: 7rem;
    }
  }



  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  // videos del inicio
  @media (min-width: 320px) {
        iframe{
          width: 280px;
          height: 200px;
        }
  }
  @media (min-width: 1200px) {
    iframe{
      width: 450px;
      height: 350px;
    }
}




/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}
